body {
  /* negro 1 oscuro */
  background-color: rgb(34, 34, 34);
  color: aliceblue;
}

.presentacion {
  color: aliceblue;
}

#mensajeLogin {
  font-style: italic;
}
#mensajeLogin span {
  font-weight: 600;

  /* Amarillo 3 Estrella */
  color: gold;
}

/* SECCION */
.tituloSeccion {
  margin: 10px 0px;
  padding: 10px 10px 10px 0px;

  /* color: aliceblue; */

  /* text-align: center; */
  font-size: 40pt;
}
/* SECCION end */

/* login modal */
#loginModal {
  color: rgb(34, 34, 34);
}
/* login modal end */
